.ad-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.ad-container .ad-album {
    position: sticky;
    top: 65px;
}

.ad-container .ad-album .ad-img {
    width: 500px;
}

.ad-container .ad-mp3s {
    padding-left: 20px;
}

.ad-container .ad-mp3s .ad-cd {
    font-weight: bold;
    padding-bottom: 5px;
}

.ad-container .ad-mp3s tr:hover {
    background-color: #EFEFEF;
    color: #555555;
    cursor: default;
}

.ad-container .ad-mp3s tr.header,
.ad-container .ad-mp3s tr.header:hover {
    background-color: gray;
    color: #FFFFFF;
}

.ad-container .ad-mp3s td {
    padding: 5px;
    border-right: 1px SOLID #AAAAAA;
    border-bottom: 1px SOLID #AAAAAA;
}

.ad-container .ad-mp3-issues {
    background-color: #F3EFEF;
    font-weight: bold;
}

.ad-container .ad-mp3-issues .ad-img {
    width: 200px;
    margin-bottom: -5px;
}
