.bd-container {
    display: flex;
    flex-direction: column;
}

.bd-container .bd-header {
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px SOLID #BBBBBB;
}

.bd-container .bd-content {
    height: calc(100vh - 45px);
    overflow: scroll;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
