.ts {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 190px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #4CAF50;
    border-radius: 2px;
    font-size: 10pt;
    z-index: 300;
}

.ts.warn {
    background-color: #E2C50A;
}

.ts.ko {
    background-color: #FF5252;
}
