.df-table tr:hover {
    background-color: #EFEFEF;
    color: #555555;
    cursor: default;
}

.df-table tr.header,
.df-table tr.header:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.df-table td {
    padding: 4px;
    border-right: 1px SOLID #AAAAAA;
    border-bottom: 1px SOLID #AAAAAA;
}

.df-table td input {
    border: none;
}

.df-PLUS {
    background-color: #77FF77;
    color: #7777FF;
}

.df-MINUS {
    background-color: #FF7777;
    color: #FFFF77;
}

.df-CHANGE {
    background-color: #EEECC0;
    color: #555555;
}

.df-NOT_PRESENT {
    background-color: #FF8686;
    color: #FFFF77;
}

.df-PRESENT {
    background-color: #40FCA7;
}

.df-TMP {
    background-color: #FFFF77;
}
