.ad-table tr:hover {
    background-color: #EFEFEF;
    color: #555555;
    cursor: default;
}

.ad-table td {
    padding: 4px;
    border-right: 1px SOLID #AAAAAA;
    border-bottom: 1px SOLID #AAAAAA;
}

.ad-table td input {
    border: none;
}

.ad-PLUS {
    background-color: #77FF77;
    color: #7777FF;
}

.ad-MINUS {
    background-color: #FF7777;
    color: #FFFF77;
}

.ad-CHANGE {
    background-color: #EEECC0;
    color: #555555;
}

.ad-NOT_PRESENT {
    background-color: #FF8686;
    color: #FFFF77;
}

.ad-PRESENT {
    background-color: #40FCA7;
}

.ad-TMP {
    background-color: #FFFF77;
}
